@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.name {
  font-family: Lobster, Arial, Helvetica, sans-serif;
  font-weight: 600;
}

html {
  -webkit-font-smoothing: antialiased;
  outline: none;
}

body {
  margin: 0px;
  line-height: 1.5715;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  color: #000000;
  text-decoration: none;
}

.icon-hover > * {
  transition: transform 0.3s ease, filter 0.25s ease-in-out;
  -webkit-transition: transform 0.3s ease, filter 0.25s ease-in-out;
}

.icon-hover:hover > * {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(30, 30, 30, 0.7));
  filter: drop-shadow(1px 1px 1px rgba(30, 30, 30, 0.7));
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* temp fix until aspect-ratio is supported with release of safari 15 */
.video-js {
  background-color: rgba(0, 0, 0, 0) !important;
}

.scroll-active .menu-sidebar {
  border-bottom: solid;
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 0px !important;
}

.scroll-active .menu-sidebar > * {
  margin-top: 3px;
}

.dark:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.light:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.scroll-active .menu-inline {
  border-bottom: solid;
  margin-top: 3px;
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 0px !important;
}

.skip-link {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.skip-link:focus {
  background: white;
  clip: auto;
  height: auto;
  left: 0px;
  padding: 0px;
  position: fixed;
  top: 0px;
  width: auto;
  z-index: 1001;
}
