html {
  -webkit-font-smoothing: antialiased;
}

.icon-hover > * {
  transition: transform 0.3s ease, filter 0.25s ease-in-out;
  -webkit-transition: transform 0.3s ease, filter 0.25s ease-in-out;
}

.icon-hover:hover > * {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(30, 30, 30, 0.7));
  filter: drop-shadow(1px 1px 1px rgba(30, 30, 30, 0.7));
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* temp fix until aspect-ratio is supported with release of safari 15 */
.video-js {
  background-color: rgba(0, 0, 0, 0) !important;
}

div.ant-drawer-body {
  padding: 0px;
}

ul.ant-menu-overflow.ant-menu.ant-menu-root.ant-menu-horizontal.ant-menu-light {
  border-bottom: 0px;
  background: transparent;
}

div.ant-drawer-header {
  padding: 12px 24px;
}

.ant-menu {
  border-bottom: 0px !important;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: 0px !important;
}

.ant-menu-submenu-popup {
  position: fixed !important;
}

.scroll-active {
  border-bottom: solid;
}

.skip-link {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.skip-link:focus {
  background: white;
  clip: auto;
  height: auto;
  left: 0px;
  padding: 0px;
  position: fixed;
  top: 0px;
  width: auto;
  z-index: 1001;
}
