[data-theme='light'],
[data-theme='light'] body {
  --nav-bg: rgba(255, 255, 255, 0.72);
  --bgc-0: #f3f2ef;
  --bgc-1: #fff;
  --bgc-2: #fff;
  --fc-0: #1d1d1f;
  --fc-1: #6e6e73;
  --pallet-0: #f7f7f7;
  --pallet-1: #f7f7f7;
  --shadow: 0px 1px 10px 0px rgb(0, 0, 0, 0.2);
  --border: 1px solid #e2e1de;
  --hovbg: rgba(0, 0, 0, 0.1);
  --link: #3b82f6;
  --code: #fabc60;
}

[data-theme='dark'],
[data-theme='dark'] body {
  --nav-bg: rgba(29, 29, 31, 0.72);
  --bgc-0: #080510;
  --bgc-1: #151516;
  --bgc-2: #1d1d20;
  --fc-0: #f5f5f7;
  --fc-1: #a1a1a6;
  --pallet-0: #f7f7f7;
  --pallet-1: #f7f7f7;
  --shadow: '';
  --border: 1px solid #000;
  --hovbg: rgba(255, 255, 255, 0.1);
  --link: #60a5fa;
  --code: #fabc60;
}

:root {
  --fs-sm: 0.8rem;
  --fs-md: 1rem;
  --fs-lg: 1.5rem;
  --fs-xl: clamp(1.5rem, 12vw + 1rem, 2rem);
  --fs-xxl: clamp(2.5rem, 12vw + 1rem, 3rem);
  --fs-xxxl: clamp(3rem, 12vw + 1rem, 4rem);
  --card-rad: 0px;
  --content-pad: 0px;
  --name-size: 0.7rem;
  --card-grid: 1fr;
  --about-grid: 1fr;
}

@media (min-width: 576px) {
  :root {
    --card-rad: 20px;
    --content-pad: 20px;
  }
}

@media (min-width: 768px) {
  :root {
    --about-grid: minmax(300px, 500px) 1fr;
  }
}

@media (min-width: 816px) {
  :root {
    --card-grid: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  :root {
    --name-size: 1.5rem;
  }
}

/* @media (min-width: 1200px) {
  :root {
    
  }
}

@media (min-width: 1600px) {
  :root {
    
  }
} */
